/* ************ Sidebar Start *********** */

@utility menu-item {
  @apply relative flex items-center w-full gap-3 px-3 py-2 font-medium rounded-lg text-theme-sm;
}

@utility menu-item-text {
  @apply capitalize;
}

@utility menu-item-active {
  @apply bg-gray-100 text-gray-900 dark:bg-brand-500/12 dark:text-brand-400;
}

@utility menu-item-inactive {
  @apply text-gray-700 hover:bg-gray-100 group-hover:text-gray-700 dark:text-gray-300 dark:hover:bg-white/5 dark:hover:text-gray-300;
}

@utility menu-item-icon {
  @apply text-gray-500 group-hover:text-gray-700 dark:text-gray-400;
}

@utility menu-item-icon-active {
  @apply text-gray-900 dark:text-brand-400;
}

@utility menu-item-icon-size {
  & svg {
    @apply size-6!;
  }
}

@utility menu-item-icon-inactive {
  @apply text-gray-500 group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-gray-300;
}

@utility menu-item-arrow {
  @apply relative;
}

@utility menu-item-arrow-active {
  @apply rotate-180 text-gray-900 dark:text-brand-400;
}

@utility menu-item-arrow-inactive {
  @apply text-gray-500 group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-gray-300;
}

@utility menu-dropdown-item {
  @apply relative flex items-center gap-3 rounded-lg px-3 py-2.5 text-theme-sm font-medium capitalize;
}

@utility menu-dropdown-item-active {
  @apply bg-gray-100 text-gray-900 dark:bg-brand-500/12 dark:text-brand-400;
}

@utility menu-dropdown-item-inactive {
  @apply text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-white/5;
}

@utility menu-dropdown-badge {
  @apply block rounded-full px-2.5 py-0.5 text-xs font-medium uppercase text-gray-700 dark:text-brand-400;
}

@utility menu-dropdown-badge-active {
  @apply bg-gray-200 dark:bg-brand-500/20;
}

@utility menu-dropdown-badge-inactive {
  @apply bg-gray-100 group-hover:bg-gray-200 dark:bg-brand-500/15 dark:group-hover:bg-brand-500/20;
}

@utility no-scrollbar {

  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    @apply size-1.5;
  }

  &::-webkit-scrollbar-track {
    @apply rounded-full;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-full dark:bg-gray-700;
  }
}

.MuiPaper-root.MuiPaper-elevation .MuiBox-root {
  @apply custom-scrollbar;
}

.dark .MuiDataGrid-scrollbar::-webkit-scrollbar-thumb,
.dark .MuiTelInput-Menu .MuiPaper-root.MuiPopover-paper::-webkit-scrollbar-thumb,
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-700;
}

.MuiDataGrid-virtualScroller .MuiDataGrid-filler,
.MuiDataGrid-scrollbar,
.MuiDataGrid-scrollbar::-webkit-scrollbar,
.MuiTelInput-Menu .MuiPaper-root.MuiPopover-paper::-webkit-scrollbar {
  @apply size-1.5 hidden!  h-0!;
}

.MuiTelInput-Menu .MuiPaper-root.MuiPopover-paper::-webkit-scrollbar-thumb,
.MuiDataGrid-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-full dark:bg-gray-700;
}

.MuiTelInput-Menu .MuiPaper-root.MuiPopover-paper::-webkit-scrollbar-track,
.MuiDataGrid-scrollbar::-webkit-scrollbar-track {
  @apply rounded-full;
}

.MuiTelInput-Menu .MuiPaper-root.MuiPopover-paper {
  max-height: calc(100% - 600px);
}

@utility head-icon {
  @apply flex items-center justify-center h-11 w-11 max-xsm:h-9 max-xsm:w-9 text-gray-500 transition-colors bg-white border border-gray-200 rounded-full hover:bg-gray-100 hover:text-gray-700 dark:border-gray-800 dark:bg-gray-900 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-white;
}

/* ************ Sidebar End *********** */

.circles-loader {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.circles-loader .circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color-black);
  animation: snake-fade 1.2s infinite ease-in-out;
}

.circles-loader .circle:nth-child(1) {
  animation-delay: 0s;
}

.circles-loader .circle:nth-child(2) {
  animation-delay: 0.2s;
}

.circles-loader .circle:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes snake-fade {
  0%, 100% {
    transform: translateY(0);
    opacity: 0.3;
    scale: 0.8;
  }
  50% {
    transform: translateY(-15px);
    opacity: 1;
    scale: 1.2;
  }
}

.dark .circles-loader .circle {
  background-color: var(--color-brand-500);
  box-shadow: 0 0 15px var(--color-brand-500);
}