
@custom-variant dark (&:where(.dark, .dark *));

@import "./variables.css";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  body {
    @apply relative font-normal font-outfit z-1 bg-gray-50 text-gray-800 dark:bg-gray-dark dark:text-gray-300;
  }
}

/* react-quill-new */
@import 'react-quill-new/dist/quill.snow.css';

@import "./layout.css";
@import "./update.css";

